@import "../../../../styles/colors.scss";

hgroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;

  .calendarWrap {
    width: 80px;
  }

  h2 {
    color: $primaryDark;
    font-size: 24px;
    font-weight: bold;
    flex-grow: 1;
    text-align: center;
  }
}

.answersList {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.footerBack {
  background-color: $primary;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 24px;

  a {
    color: $white;
    line-height: 40px;
    text-transform: lowercase;
    text-align: center;
    display: block;
    text-decoration: none;
    font-size: 16px;
  }

  &:hover {
    background-color: $primaryDark;
  }
}

@media only screen and (max-width: 600px) {
  hgroup {
    .calendarWrap {
      width: 60px;
    }

    h2 {
      font-size: 20px;
    }
  }
}