@import "../../styles/colors.scss";

.headerWrap {
  display: flex;
  flex-direction: column;
  border-top: 3vh solid $primaryDark;
  background-color: $primary;
  align-items: center;

  img {
    width: 60px;
    margin-top: 3vh;

  }

  h1 {
    color: $white;
    margin: 1.6vh 0px 3vh;
  }
}